body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: #0074d9;
	font-family: 'Poppins', sans-serif;
	margin-top: 30px;
	line-height: 55px;
}

h3 {
	text-align: center;
	font-size: 24px;
	color: black;
	margin-bottom: 20px;
	line-height: 29px;
}	

img {
	border-radius: 7px;
	vertical-align: middle;
	width: calc(100% - 20px);
	z-index: 1;
}

figcaption {
	text-align: center;
	font-size: 50px;
	color: #0074d9;
	font-family: 'Galada', cursive;
	z-index: -1;
	position: relative;
	bottom: 80px;
	line-height: 55px;
}

.long-name {
	font-size: 32px;
	margin-left: -24px;
}

.disabled-radio {
	color: #c8c8c8;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: space-around;
}

.column {
	flex: 25%;
	max-width: 30%;
	padding: 10px 4px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
	max-width: 100%;
  }
}

.img-container:hover img{
	z-index: -2;
	opacity: 0.5;
}

.correct-kitten {
	border: 7px dotted #0074d9;
	border-style: dotted;
}

.correct-kitten:hover {
	opacity: 1;
}

#modal {
	z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
    line-height: 1rem;
    visibility: hidden;
}

.modal-header h3 {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1.75rem;
	line-height: 2rem;
}

.modal-header button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.button {
    border: none;
	border-radius: 0.25rem;
	box-shadow: 1px 2px 2px 1px #CCC;
	cursor: pointer;
	margin: 1.5rem 1.5rem;
	padding: 0.5rem;
	font-family: 'Raleway', sans-serif;
}

.button:hover {
	opacity: 0.5;
}

.blue-button,
.submit-button {
	background-color: #0074D9;
	padding: 0.75rem;
	font-size: 1.25rem;
	color: white;
	width: 8rem;
}

.modal-title {
	text-align: center;
}

.modal-footer {
	display: flex;
	justify-content: center;
	padding: 1.5rem 3rem 0 3rem;
}

#username-field {
 	margin: 0.2rem 18rem;
    width: 14rem;
    height: 2rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
}

#sane-button {
	background-color: #0074D9;
	height: 3rem;
	width: 4rem;
	font-size: 1.25rem;
	color: white;
}

#insane-button {
	background-color: #ffffff;
	border: 1px solid #0074d9;
	height: 3rem;
	width: 4rem;
	font-size: 1.25rem;
	color: #0074d9;
}

#mistake-button {
	background-color: #0074D9;
	padding: 1rem;
	font-size: 1.25rem;
	color: white;
}

#no-way-button {
	background-color: #ffffff;
	border: 1px solid #0074d9;
	padding: 1rem;
	font-size: 1.25rem;
	color: #0074d9;	
}

#guess-form {
	display: flex;
	flex-wrap: wrap;
}

.form-col {
	flex: 1;
}

label {
	line-height: 1.5rem;	
}

label:hover {
	font-size: 1.5rem;
	font-weight: 200;
}

h2 {
	text-align: center;
}

#secret-kitten-img {
	border: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Close X button */
.close {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.3;
}

.close:hover {
opacity: 1;
}

.close:before,
.close:after {
position: absolute;
left: 0.5rem;
content: ' ';
height: 2rem;
width: 2px;
background-color: #333;
}

.close:before {
transform: rotate(45deg);
}

.close:after {
transform: rotate(-45deg);
}